$module: "nav";

.#{$module} {
    counter-reset: items;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    max-height: 100vh;

    height: 100%;
    width: 100%;
    margin-right: em((-$sp-xxl + -$sp-xl));
    padding: em($sp-xxl);
    padding-bottom: em($sp-l);
    padding-top: em(($sp-xxl + $sp-xl) + $sp-xl);

    @media (max-width: 600px) {
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: scroll;
        justify-content: flex-start;
        padding: em($sp-l);
        max-height: auto;
    }

    &__column {
        flex: 0 1 480px;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-right: em($sp-xxl+$sp-xl);

        &:last-of-type {
            margin-right: 0;
        }
        @media (max-width: 600px) {
            flex: 1 0 auto;
            width: 100%;
            margin-bottom: em($sp-xxl +$sp-xl);
        }
    }

    &__item {
        position: relative;
        z-index: 3;
        flex: 1;
        max-width: em(480);
        height: 100%;
        width: auto;
        margin-bottom: em($sp-xxl +$sp-xl);
        

        background-color: $colorPrimary;
        border: none;
        cursor: pointer;
        outline: none;
        border: 6px solid transparent;
        text-decoration: none;

        @media (max-width: 600px) {
            flex: 0 0 em(300);
            width: 100%;
            margin-right: 0;
        }

        &:hover {
            background-color: transparent;
            border: 6px solid $colorPrimary;
            & .#{$module}__item-number:before {
                color: $colorPrimary;
            }
        }
    }

    &__item-number {
        position: relative;
        top: 6px;
        left: 0;
        bottom: em(-6);
        height: 100%;
        padding-right: 100%;

        overflow: hidden;
        &:before {
            position: absolute;
            right: 9px;
            bottom: em(-12, ($z-xxl * 6));
            line-height: 0.8;
            counter-increment: items;
            content: "0" counter(items);
            font-family: "bebas neue";
            font-size: em($z-xxl * 6);
            color: $colorContrast;

            @media (max-height: 700px) {
                font-size: em($z-xxl * 4);
                bottom: em(-12, ($z-xxl * 4));
            }
        }
    }

    &__item-text {
        position: absolute;
        bottom: em(-$sp-m);
        left: 0;
        font-family: $ffHeadings;
        font-size: em($z-xxl+$z-m);
        color: white;

        @media (max-height: 700px) {
            font-size: em($z-xl);
        }

        &:before {
            content: "";
            position: absolute;
            bottom: em(-6);
            display: block;
            height: em(5);
            width: 100%;
            background-color: $colorPrimary;
            transform-origin: left;
            transition: transform 0.2s;
            transform: scaleX(0);
        }

        .#{$module}__item:hover &:before {
            transform: scaleX(1);
        }
    }
}
