body {
    font-family: $ffMain;
    color: $colorContrast;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $ffHeadings;
    margin: 0;
    margin-bottom: 0.75em;
}

$module: "page";

.#{$module} {
    background-color: $colorPrimary;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    &__main {
        position: relative;
        display: flex;
        justify-content: center;
        flex: 1 0 100%;
        background-color: $colorContrast;
        padding: em($sp-xxl);
        // padding-bottom: em($sp-l);
        padding-top: em(($sp-xxl + $sp-xl) + $sp-xl);

        @media (max-height: 600px) {
            padding: em($sp-l);
            padding-top: em($sp-xxl + $sp-xl);
        }

        .#{$module}.is-open & {
            flex: 0 0 30%;
        }
    }

    &__aside {
        flex: 0 1 0;
        padding: em($sp-xxl);
        padding-top: em($sp-xxl + $sp-xxl);

        .#{$module}.is-open & {
            flex: 1 0 70%;
        }
    }
}
